@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


 .footer{
    background-color: #000;
    display: flex;
    align-items:center;
    justify-content:space-around;
    gap: 20px;
    padding: 10px 0;
    margin-top: auto;
    min-height: 80px;
 }

 .row{
    width: 100%;
 }
 


/*Parte uno------------------------*/

.parte1{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 50px;
}

.parte1 img{
      width: 100px;
      height: 100px;
}
/*redes---------------------------*/
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}




/*------------------contacto--------*/
.contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 120px;
    padding-top: 50px;
}

.contacto h2{
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    padding-right: 50px;
}


/* Contenedor principal */
.social-list {
    list-style: none;
    padding: 0;
    display: flex;          
    gap: 15px;            
    justify-content: center;
}

/* Estilo de los círculos (IGUAL para todos) */
.icon-circle {
    width: 50px;           /* Ajusta el tamaño aquí */
    height: 50px;
    background-color: #34959E; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-link {
    text-decoration: none !important;
    outline: none;
}

/* Tamaño de los iconos internos */
.icon-circle svg {
    width: 25px;           /* Tamaño de IG y TikTok */
    height: auto;
    fill: #000;            /* Color negro para los logos */
}

.fb-letter {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #000;
}

.texto_ani {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    background: linear-gradient(
        to right, 
        #888 40%, 
        #fff 50%, 
        #888 60%
    );
    
    background-size: 200% auto;
    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;

    /* Separación de iconos */
    margin-bottom: 40px;
    display: block; 
    text-align: center;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}