@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



.row {
    --bs-gutter-x: 0;
 }
nav{
    background-color: #000000;
}



.btn{
    border-color: transparent;
    color: #d5dedf;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
}


.btn:hover{
    background-color: #58b9b9;
    border: transparent;
    color: black;
}

.logo{
    height: 80px;
    width: 100;
    padding-left: 10px;
}
